<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>

    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
        <p><%=item.name%></p>
      </div>
      <input type="hidden" name="listName" value="<%= listTitle %>"></input>
    </form>
    
  <%  }) %>


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

  <div id="cl-div">

    <form action="/cl" method="post">
      <h2>Create A New ToDo List </h2>
      <input id="cl-input" name="ln" type="text" placeholder="Type here">
      <button id="cl-btn"  type="submit">Create</button>
      <button id="cl-btn"  type="submit">Open List</button>
    </form>

  </div>

<%- include("footer") -%>
